body {
margin-left: auto;
background-color: lightblue;
opacity: 0.3;
color: black;
text-shadow: 2px 2px white;
font-size: 20px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}